<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="runForegroundTest" value="true"/> <!--true/false-->
    <add key="runForeground" value="false"/> <!--true/false-->
	<add key="emailListPathTest" value="https://api-dev.meetin.gs/v1/client_sync/settings?api_key=ltdevapikey&amp;api_secret=example"/>
    <add key="emailListPath" value="https://api.meetin.gs/v1/client_sync/settings?api_key=ltapikey&amp;api_secret=example"/>
    <add key="calendarEmailUserTest" value="antti@meetingsltd.onmicrosoft.com"/>
    <add key="calendarEmailUser" value="sameetings@example.fi"/>
    <add key="calendarDataPathTest" value="https://api-dev.meetin.gs/v1/client_sync/set_user_calendar"/>
    <add key="calendarDataPath" value="https://api.meetin.gs/v1/client_sync/set_user_calendar"/>
    <add key="logPathTest" value="https://api-dev.meetin.gs/v1/client_sync/log"/>
    <add key="logPath" value="https://api.meetin.gs/v1/client_sync/log"/>
    <add key="dailyGetAllStart" value="23:00"/>
    <add key="dailyGetAllEnd" value="05:00"/>
    <add key="exchangeUserNameTest" value="ecample@meetingsltd.onmicrosoft.com"/>
    <add key="exchangeUserName" value="sameetings@example.fi"/>
    <add key="exchangeUserPwdTest" value="Example"/>
    <add key="exchangeUserPwd" value="Example"/>
    <add key="calendarPostApiKeyTest" value="ltdevapikey"/>
    <add key="calendarPostApiKey" value="ltapikey"/>
    <add key="calendarPostApiSecretTest" value="test"/>
    <add key="calendarPostApiSecret" value="Example"/>
    <add key="useConsoleLogging" value="false"/> <!--true/false-->
    <add key="useFileLogging" value="true"/> <!--true/false-->
    <add key="useRemoteLogging" value="true"/> <!--true/false-->
    <add key="useEventLogLogging" value="false"/> <!--true/false-->
    <add key="useConsoleLoggingTest" value="true"/> <!--true/false-->
    <add key="useFileLoggingTest" value="false"/> <!--true/false-->
    <add key="useRemoteLoggingTest" value="false"/> <!--true/false-->
    <add key="useEventLogLoggingTest" value="false"/> <!--true/false-->
    <add key="skipCertificateValidationTest" value="false"/> <!--true/false-->
    <add key="skipCertificateValidation" value="false"/> <!--true/false-->
    <add key="useHardCodedExchangeAddressTest" value="true"/> <!--true/false-->
    <add key="useHardCodedExchangeAddress" value="true"/> <!--true/false-->
    <add key="hardCodedExchangeAddressTest" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="hardCodedExchangeAddress" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="queueProcessorConcurrencyTest" value="2"/> <!-- positive int -->
    <add key="queueProcessorConcurrency" value="20"/> <!-- positive int -->
    <add key="AutodiscoverQueueProcessorConcurrencyTest" value="2"/> <!-- positive int -->
    <add key="AutodiscoverQueueProcessorConcurrency" value="20"/> <!-- positive int -->
    <add key="StreamingSubscriptionGroupConcurrencyTest" value="2"/> <!-- positive int -->
    <add key="StreamingSubscriptionGroupConcurrency" value="14"/> <!-- positive int -->
  </appSettings>
</configuration>
